<div class='{{styles.confirm}}'>
  <p class='{{styles.title}}'>Вы уверены, что хотите удалить чат с <b>{{deletedChat.title}}</b></p>

  <div class='{{styles.buttons}}'>
    {{{confirmButton}}}
    {{{cancelButton}}}
  </div>
</div>