<div class="{{userDataStyles.userData}} {{className}}">
  <p class={{userDataStyles.item}}>
    <label for='email'>Почта</label>
    {{> input id='email' name='email' type='email' placeholder='Почта' required=true value=user.email disabled=isNotEditable }}
    <span class={{userDataStyles.errorMessage}}>Введите почту</span>
  </p>

  <p class={{userDataStyles.item}}>
    <label for='login'>Логин</label>
    {{> input id='login' name='login' type='text' placeholder='Логин' required=true value=user.login disabled=isNotEditable }}
    <span class={{userDataStyles.errorMessage}}>Введите логин</span>
  </p>

  <p class={{userDataStyles.item}}>
    <label for='first_name'>Имя</label>
    {{> input id='first_name' name='first_name' type='text' placeholder='Имя' required=true value=user.name disabled=isNotEditable }}
    <span class={{userDataStyles.errorMessage}}>Введите имя</span>
  </p>

  <p class={{userDataStyles.item}}>
    <label for='second_name'>Фамилия</label>
    {{> input id='second_name' name='second_name' type='text' placeholder='Фамилия' required=true value=user.secondName disabled=isNotEditable }}
    <span class={{userDataStyles.errorMessage}}>Введите фамилию</span>
  </p>

  <p class={{userDataStyles.item}}>
    <label for='display_name'>Имя в чате</label>
    {{> input id='display_name' name='display_name' type='text' placeholder='Имя в чате' required=true value=user.displayedName disabled=isNotEditable }}
    <span class={{userDataStyles.errorMessage}}>Введите имя в чате</span>
  </p>

  <p class={{userDataStyles.item}}>
    <label for='phone'>Телефон</label>
    {{> input id='phone' name='phone' type='text' placeholder='Телефон' required=false value=user.phone disabled=isNotEditable }}
  </p>
</div>