<div class='{{styles.userData}} {{className}}'>
  <p class={{styles.item}}>
    <label for='email'>Почта</label>
    {{{emailInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат email</span>
    {{/if}}
  </p>

  <p class={{styles.item}}>
    <label for='login'>Логин</label>
    {{{loginInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат логина</span>
    {{/if}}
  </p>

  <p class={{styles.item}}>
    <label for='first_name'>Имя</label>
    {{{firstNameInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат имени</span>
    {{/if}}
  </p>

  <p class={{styles.item}}>
    <label for='second_name'>Фамилия</label>
    {{{secondNameInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат фамилии</span>
    {{/if}}
  </p>

  <p class={{styles.item}}>
    <label for='display_name'>Имя в чате</label>
    {{{displayNameInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат отображаемого имени</span>
    {{/if}}
  </p>

  <p class={{styles.item}}>
    <label for='phone'>Телефон</label>
    {{{phoneInput}}}
    {{#if isEditable}}
      <span class={{styles.errorMessage}}>Неверный формат телефона</span>
    {{/if}}
  </p>
</div>