<div class='{{styles.chatsBlock}}'>
  <div class='{{styles.header}}'>
    <a class='{{styles.link}}' href='/settings'>Профиль&nbsp;&nbsp;></a>
    <input class='{{styles.input}}' value='{{inputValue}}' placeholder='Поиск' />
  </div>
  {{{filteredChatsBlock}}}
</div>