<div class='{{styles.chatsBlock}}'>
  <div class='{{styles.header}}'>
    <a class='{{styles.link}}' href='/profile'>Профиль&nbsp;&nbsp;></a>
    <input class='{{styles.input}}' placeholder='Поиск' />
  </div>
  <div class='{{styles.chats}}'>
    {{#each chats}} {{{this}}} {{/each}}
  </div>
</div>