<div class='{{styles.profile}}'>
  {{{avatar}}}

  <h1 class='visually-hidden'>Редактирование пароля</h1>

  <form>
    <fieldset>
      <legend class='visually-hidden'>Пароли</legend>

      <p class={{styles.item}}>
        <label for='old_password'>Старый пароль</label>
        {{{oldPasswordInput}}}
        <span class={{styles.errorMessage}}>Неверный формат пароля</span>
      </p>

      <p class={{styles.item}}>
        <label for='new_password'>Новый пароль</label>
        {{{newPasswordInput}}}
        <span class={{styles.errorMessage}}>Неверный формат пароля</span>
      </p>

      <p class={{styles.item}}>
        <label for='new_password_extra'>Повторите новый пароль</label>
        {{{newPasswordExtraInput}}}
        <span class={{styles.errorMessage}}>Пароли не совпадают</span>
      </p>
    </fieldset>

    {{{button}}}
  </form>
</div>