<div class='{{styles.popupWrapper}}'>
  <div
    class='{{styles.popup}}
      {{#if isError}}{{styles.error}}{{/if}}
      {{#if uploadErrorMessage}}{{styles.uploadError}}{{/if}}
      popup'
  >
    <p class='{{styles.title}}'>
      {{#if uploaded}}
        Файл загружен
      {{else}}
        Загрузите файл
      {{/if}}
    </p>
    <p class='{{styles.uploadErrorMessage}}'>Ошибка, попробуйте ещё раз</p>

    <form class='{{styles.form}}'>
      <label {{#if fileName}}class='{{styles.path}}'{{/if}}>
        {{#if fileName}}
          {{fileName}}
        {{else}}
          Выбрать файл на компьютере
        {{/if}}
        {{{input}}}
      </label>

      {{{button}}}
      <span class='{{styles.errorMessage}}'>Нужно выбрать файл</span>
    </form>
  </div>
</div>