<div class='{{styles.popupWrapper}}'>
  <div
    class='{{styles.popup}}
      {{condition isError styles.error}}
      {{condition uploadErrorMessage styles.uploadError}}'
  >
    <p class='{{styles.title}}'>
      {{#if uploaded}}
        Файл загружен
      {{else}}
        Загрузите файл
      {{/if}}
    </p>
    <p class='{{styles.uploadErrorMessage}}'>Ошибка, попробуйте ещё раз</p>

    <form class='{{styles.form}}'>
      <label class='{{condition fileName styles.path}}'>
        {{#if fileName}}
          {{fileName}}
        {{else}}
          Выбрать файл на компьютере
        {{/if}}
        {{{input}}}
      </label>

      {{{button}}}
      <span class='{{styles.errorMessage}}'>Нужно выбрать файл</span>
    </form>
  </div>
</div>