<div class='{{styles.popupWrapper}}'>
  <div class='{{styles.popup}} {{condition isError styles.error}}'>
    <h2 class='{{styles.title}} {{condition isError "visually-hidden"}}'>Загрузите файл</h2>
    <p class='{{styles.errorMessage}}'>Ошибка, попробуйте ещё раз</p>

    <form class='{{styles.form}}'>
      <label>
        Выбрать файл на компьютере
        {{{input}}}
      </label>

      {{! here will be shown file path }}
      <span class='{{styles.path}}'></span>

      {{{button}}}
      <span class='{{styles.errorMessage}}'>Нужно выбрать файл</span>
    </form>
  </div>
</div>