<div class={{profileStyles.profile}}>
  {{> avatar className=profileStyles.avatar size='large' isEditable=true}}

  <h1 class="visually-hidden">Профиль пользователя</h1>
  <h2 class={{profileStyles.title}}>{{user.name}}</h2>

  {{> userData className=profileStyles.userData }}

  <div class={{profileStyles.links}}>
    <a href="/profile/edit">Изменить данные</a>
    <a href="/profile/edit/password">Изменить пароль</a>
    <a class={{profileStyles.logout}} href="/logout">Выйти</a>
  </div>
</div>