<div class='{{styles.profile}}'>
  {{{avatar}}}

  <h1 class='visually-hidden'>Профиль пользователя</h1>
  <h2 class='{{styles.title}}'>{{user.first_name}}</h2>

  {{{userData}}}

  <div class='{{styles.links}}'>
    <a href='/edit/profile'>Изменить данные</a>
    <a href='/edit/password'>Изменить пароль</a>
    <a class='{{styles.logout}}' href='/logout'>Выйти</a>
  </div>

  {{#if isVisiblePopup}}
    {{{avatarForm}}}
  {{/if}}
</div>