<div class='{{styles.contactsBlock}}'>
  <div class='{{styles.header}}'>
    <a class='{{styles.link}}' href='/profile'>Профиль&nbsp;&nbsp;></a>
    <input class='{{styles.input}}' placeholder='Поиск' />
  </div>
  <div class='{{styles.contacts}}'>
    {{#each contacts}} {{{this}}} {{/each}}
  </div>
</div>