{{#if isSubmit}}
  <button class='{{styles.button}} {{lookup styles type}}' type="submit">
{{else}}
  <button class='{{styles.button}} {{lookup styles type}}'>
{{/if}}
  <span class='{{styles.arrow}} {{lookup styles side}}'></span>
</button>