{{#if isSubmit}}
  <button class='{{styles.button}} {{lookup styles type}}' type="submit">
{{else}}
  <button class='{{styles.button}} {{lookup styles type}}'>
{{/if}}
  <div class='{{styles.arrow}} {{lookup styles side}}'></div>
</button>