{{#if isEditable}}
  <div class='{{avatarStyles.avatar}} {{lookup avatarStyles size}} {{avatarStyles.isEditable}}'>
    {{#if src}}
      <img src={{src}} alt='your avatar' />
    {{/if}}
  </div>
{{else}}
  <div class='{{avatarStyles.avatar}} {{lookup avatarStyles size}}'>
    {{#if src}}
      <img src={{src}} alt='your avatar' />
    {{/if}}
  </div>
{{/if}}