<div class={{styles.signupPage}}>
  <form class={{styles.signupForm}}>
    <h1 class={{styles.title}}>Регистрация</h1>

    <fieldset>
      <legend class='visually-hidden'>Данные пользователя</legend>

      <p class={{styles.formItem}}>
        <label for='email'>Почта</label>
        {{{emailInput}}}
        <span class={{styles.errorMessage}}>Неверный формат email</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='login'>Логин</label>
        {{{loginInput}}}
        <span class={{styles.errorMessage}}>Неверный формат логина</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='first_name'>Имя</label>
        {{{firstNameInput}}}
        <span class={{styles.errorMessage}}>Неверный формат имени</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='second_name'>Фамилия</label>
        {{{secondNameInput}}}
        <span class={{styles.errorMessage}}>Неверный формат фамилии</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='phone'>Телефон</label>
        {{{phoneInput}}}
        <span class={{styles.errorMessage}}>Неверный формат телефона</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='password'>Пароль</label>
        {{{passwordInput}}}
        <span class={{styles.errorMessage}}>Неверный формат пароля</span>
      </p>

      <p class={{styles.formItem}}>
        <label for='password_extra'>Пароль (ещё раз)</label>
        {{{passwordExtraInput}}}
        <span class={{styles.errorMessage}}>Пароли не совпадают</span>
      </p>
    </fieldset>

    {{{button}}}
    <a class={{styles.link}} href='/'>Войти</a>
  </form>
</div>