<div class='{{styles.message}} {{lookup styles userType}}'>
  <p class='{{styles.text}}'>{{text}}</p>
  {{!-- {{#if isDefaultUser}}
    <img src='{{src}}' alt='your avatar' />
  {{/if}} --}}
  <span class='{{styles.time}}'>{{time}}</span>
</div>